@import "~bootstrap/scss/bootstrap";

.nav-item{
  text-decoration: none;
  color: white;
  padding: 5px;
}
//* * * * * N A V    B A R  * * * * * 
// .logo-home {
//   height: 100px;
//   width: 100px;
// }
.navbar-logo{
  margin: 0px;
  padding: 0px;
}

//* * * * *   R E G I S T E R   A N D   L O G I N   * * * * * 

.authContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authCard {
  height: 75vh;
  width: 50vw; // make this responsive
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

#loginCard {
  height: 40vh;
}

.authForm {
  height: 75%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  // border: 1px solid black;
  // border-radius: 5px;
}

.authField {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// .buttonContainer {
//   display: flex;
//   justify-content: flex-start;
// }

//* * * * * * INDEX * * * * * * * *

#recipesContainer {
  display: flex;
  // justify-content: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  width: 340px;
  margin: 0 0 15px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.recipeImage {
  width: 100%;
  height: 75%;
}
