@import "~bootstrap/scss/bootstrap";

.nav-item{
  text-decoration: none;
  color: white;
  padding: 5px;
  font-family: Georgia, serif;
}
.nav-item-logout{
  background-color: transparent;
  border: none;
  color: white;
}
//* * * * * ROOT / BODY  * * *
 * * 
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: Georgia, serif;
}

//* * * * * N A V    B A R  * * * * * 
// .logo-home {
//   height: 100px;
//   width: 100px;
// }
// .navbar {
//   height: 70px;
// }

.navbar-logo{
  margin: 0 15px 0 15px;
  padding: 0px;
}

.flex-row {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-item {
  margin-top: auto;
  margin-bottom: auto;
}

//* * * * *   LANDING PAGE   * * * * * 
.react-3d-carousel {
  margin-top: auto;
  margin-bottom: auto;
}
//* * * * * N A V    B A R  * * * * * 
.spinner-border {
  margin-left: auto;
  margin-right: auto;
  // margin: auto auto auto auto;
  // margin-top: 300px;
  // margin-top: auto;
  // margin-bottom: auto;
}

// #indexSpinner {
//   margin-top: 400px;
// }

//* * * * *   R E G I S T E R   * * * * * 

section.d-flex.p-2.bd-highlight{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, serif;
}
div.card{
  box-shadow: 5px 10px 5px 5px #888888;
  margin-top: 10px;
}
div.card-header{
  background-color: #7dc169;
  height: 40px;
  border-color: black;
}
h5.card-title{
  font-family: Georgia, serif;
  text-align: center;
  font-size: xx-large;
}
.authLabel{
  display: flex;
  flex-direction: column;
  padding: 3px;
  font-family: Georgia, serif;
}

input.regInput{
  justify-content: center;
  align-items: center;
}
// *********** LOG IN ***************************
#login {
  justify-content: center;

}
a.login.btn.btn-primary{
background-color: #7dc169;
margin-left: 10px;
margin-top: 10px;
border-color: #7dc169;
}
button.register.btn.btn-primary{
background-color: #7dc169;
margin-top: 10px;
margin-bottom: -70px;
border-color: #7dc169;
}
button.authButton{
  background-color: #abd79e;
  margin-left: 5px;
  border-color: #abd79e;
  border-radius: 6px;
  color: white;
}
button.regButton{
  background-color: #abd79e;
  margin-left: 15px;
  margin-top: 10px;
  border-color: #abd79e;
  border-radius: 6px;
  color: white;
}
.card-text-register{
  margin: 15px;
}
#reg{
  margin-bottom: -30px;
}

//* * * * * * INDEX * * * * * * * *

// #recipesContainer {
//   display: flex;
//   // justify-content: flex-start;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }

// .recipeCard {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 350px;
//   width: 400px;
//   margin: 0 0 15px 10px;
//   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
// }

.card-img-top.recipes {
  width: 300px;
  height: 300px;
}
h5.card-title.recipes{
  font-size: small;
  background-color: #abd79e;
  text-decoration: none;

}
//* * * * * * INDEX * * * * * * * *
.searchdropmenu {
  margin-top: 5px;
  font-family: Georgia,  serif;
}
.dropitem {
  font-family: 'Playfair Display', serif;
}
footer {
  margin-top: auto;
}

//* * * * * * RECIPE SHOW PAGE * * * * 
.recipe-show-container {
  display: flex;
  justify-content: center;
}

.recipe-card-title {
  display: flex;
  justify-content: center;
  padding: 10px;
  letter-spacing: 1px;
  font-family: Georgia, serif;
}

.recipe-course-container {
  border: solid 2px;
  width: 15%;
  margin: 0px 10px 10px 5px;
  border-radius: 10px;
  background-color: #abd79e;
  color: white; 
  align-items: center;

}
.recipe-course-container:hover{
  background-color: #7dc169;
  color: white;
}

.bi-bookmark-heart{
  height: 50px;
  width: 50px;
}

.faveBtn{
  height: 40px;
  padding: 0 30px;
  font-size: 11px;
  background-color: #abd79e;
  color: white;
  border-radius: 6px;
  border-color: #abd79e;
  margin: 0px 0px 10px 10px;
}

.recipe-course {
  display: flex;
  text-align: center;
  margin: 5px 5px 5px 10px;
  opacity: 0.7;
  letter-spacing: 1px;


}


.recipe-minutes-container {
  margin: 0px 0px 0px 5px;
}

.recipe-macros-container {
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.recipe-macros-title {
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  letter-spacing: 1px;
  color: white;
}

.recipe-macros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 0px 5px;
}

.recipe-ingredients-container {
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.recipe-ingredients-title {
  display: flex;
  justify-content: center;
  background-color: black;
  letter-spacing: 1px;
  color: white;
}

.recipe-ingredients {
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.recipe-preparation-container {
  background-color: black;
  color: white;
  margin: 10px 0px 0px 0px;

}
.recipe-preparation-title {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  letter-spacing: 1px;
}

.recipe-preparation {
  background-color: white;
  color: black;

}

.recipes-list {
  margin: 0px 0px 0px 0px;
}

.faveBtn {
  height: 38px;
  padding: 0 30px;
  font-size: 11px;
  background-color: transparent;
  border-radius: 6px;
  margin: 0px 0px 10px 10px;
}
// **** Comment Box******
.comment-delete-button{
  background-color: transparent;
  border-style: none;
}

.comment-button{
  background-color: #abd79e;
  border: 1px solid #abd79e;
  color: white;
  margin-bottom: 5px;
}
.comment-user{
  background-color: #abd79e;
  border-bottom: 1px solid grey;
}
.comment-content{
  border: 1px solid grey;
  text-align: left;
  font-family: Georgia, serif;
  margin-top: 30px;
}

// * * * * * * FOOTER PAGES * * * * * *

// .footer-about-container {
//   display: flex;
//   justify-content: center;
// }

.footer-about-title-container {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  margin: 10px 0px 0px 0px;
  letter-spacing: 1px;
}

.footer-about-content {
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 5px;

}
.footer-stories-title-container {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white; 
  margin: 0px 0px 0px 0px; 
  padding: 5px 0px 0px 0px;
  letter-spacing: 1px;
  font-family: Georgia, serif;
}

.footer-stories-content {
  margin: 0px 0px 0px 5px;
  padding: 5px 0px 0px 0px;
  display: flex;
  justify-content: center;
}



.card-title {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  letter-spacing: 1px;
}

div.card-body {
  padding: 0px 0px 0px 0px;
}

div.card.border-dark.mb-3 {
  border: solid 2px rgb(169, 236, 169);
}

p.card-text {
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: center;
}

.do-eat {
  margin: 10px 0px 10px 0px;
}

.footer-keto-title-container {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  background-color: black;
  color: white;
}

.card-text {
  margin: 0px 5px 0px 5px;
}

.do-not-eat {
  margin: 10px 0px 10px 0px;
}

img.card-img-top {
  border-radius: 0px;
}