@import "~bootstrap/scss/bootstrap";

.nav-item{
  text-decoration: none;
  color: white;
  padding: 5px;
}
//* * * * * N A V    B A R  * * * * * 
// .logo-home {
//   height: 100px;
//   width: 100px;
// }
.navbar-logo{
  margin: 0px;
  padding: 0px;
}